<div id="footer">
    <div><a href="/about">About</a></div>
    <div><a href="/support">Support</a></div>
    <div><a href="/support">Bug Report</a></div>


    <div><a href="/terms">Terms</a></div>
    <div><a href="/privacy">Privacy</a></div>

    <div><a href="/about">Twitter</a></div>
</div>