<div id="footer" class="dark-purple">
    <div><a href="/about">About</a></div>
    <div><a href="/support">Support</a></div>
    <div><a href="/support">Bug Report</a></div>
    <hr>
    <div><a href="https://twitter.com/ChecklistngClub">Twitter</a></div>
    <div><a href="/terms">Terms</a></div>
    <div><a href="/privacy">Privacy</a></div>
</div>