<nav>
    <div id="logo">
        <a href="/">Checklisting.Club</a>
    </div>
    <div><a href="/random">Random List</a></div>
    {{#if user}}
    <div><a href="/u">Dashboard</a></div>
    <div><a href="/api/user/logout">Logout</a></div>
    {{else}}
    <div><a href="/signup">Signup</a></div>
    <div><a href="/login">Login</a></div>
    {{/if}}
</nav>