<nav>
    <div id="logo">
        <a href="/">Checklisting.Club</a>
    </div>
    <div><a href="/random">Random List</a></div>
    <div><a href="/signup">Signup</a></div>
    <div><a href="/login">Login</a></div>
</nav>