<section id="splash">
    <div>The Checklisting Club Story</div>
    <div class="desc">
        Once upon a time.... Well, maybe our start wasn't quite so magical. 
        It all started with a very popular website called <a href="https://github.com/">Github</a> where programmers have collaboratively achieved many great things. 
        Then one day, Sean read a book called <a href="http://atulgawande.com/book/the-checklist-manifesto/">The Checklist Manifesto by Atul Gawande</a> and was inspired. 
        {{!-- There were so many places he could now see where a checklist or the opportunity for a checklist existed. 
        Yet in a silo, checklisting only has situational benefits. 
        However, having recently witnessed the power of open collaboration on Github, he wondered what could happen if the two were combined. --}}
        He envisioned a platform where checklists could be collaboratively created for the betterment of our civilization. 
    </div>
</section>