<section id="splash">
    <div>Checklisting.Club is a collaborative preparedness service.</div>
    <div class="desc">
        For skilled workers and managers who need safety during crucial and complex processes, 
        Checklisting.Club is a website that provides a collaborative and systematic set of tools to provide preparedness and peace of mind.
    </div>
</section>

<section id="examples">
    <div>Whether you are...</div>
    <div class="example">A <a href="/cl/sean/mylist">pilot</a> encountering an uncommon situation.</div>
    <div class="example">A <a href="/cl/sean/mylist">doctor</a> preparing for a surgery.</div>
    <div class="example">A <a href="/cl/sean/mylist">wedding planner</a> on the big day.</div>
    <div class="example">A <a href="/cl/sean/mylist">IT admin</a> setting up a new server.</div>
    <div class="example">A <a href="/cl/sean/mylist">designer</a> creating accessible interfaces.</div>
    <div class="example">A <a href="/cl/sean/mylist">chef</a> closing the kitchen.</div>
    <div class="example">A <a href="/cl/sean/mylist">data scientist</a> debugging a model.</div>
    <div class="example">Explore <a href="/random">more</a> lists here!</div>
</section>

<section id="features">
    <div>You can...</div>
    <div class="subtitle"><strong>Edit</strong> - Easily add and remove items from your checklists.</div>
    <div class="subtitle"><strong>Save</strong> - Store your checklists in private and public repositories.</div>
    <div class="subtitle"><strong>Fork</strong> - Build and collaborate with your peers.</div>
    <div class="subtitle"><strong>Export</strong> - Utilize your data in whichever format you see fit! pdf, csv, txt, etc!</div>
</section>

<section id="features">
    <div>Redo</div>
</section>

<section id="statistics">
    <div></div>
</section>

<section id="pricing">
    <div>Pricing</div>
</section>

<section id="calltoaction">
    <div>Sign up now!</div>
</section>