<section id="splash">
    <div>Welcome back!</div>
    <div class="desc">
        We promise to do our utmost to protect your privacy and never sell your data to third parties.
        You can view, access and delete your data at any time.
    </div>
</section>

<section id='signup'>
    <form action="/api/user/login" method="post">
        
        <input name="userEmail" placeholder="Email Address">

        <input name="userPassword" type="password" placeholder="Password">

        <button name="createUser" value="create">Login</button>
    </form>
</section>

<section>
    <div>
        Don't have an account? Sign up <a href="/signup">here</a>
    </div>
</section>