<section id="splash">
    <div>Join the Club!</div>
    <div class="desc">
        We promise to do our utmost to protect your privacy and never sell your data to third parties.
        You can view, access and delete your data at any time.
    </div>
</section>

<section id='signup'>
    <form action="/api/user/create" method="post">

        <input name="userName" placeholder="Username">
        
        <input name="userEmail" placeholder="Email Address">

        <input name="userPassword" type="password" placeholder="Password">

        <button name="createUser" value="create">Create Account</button>
    </form>
</section>

<section id="flash-msg">
    <div>
        {{ flashMsg }}
    </div>
</section>

<section>
    <div>
        Already have an account? Login <a href="/login">here</a>
    </div>
</section>