.dark-purple {
    background-color: #7851A8;
}
.light-purple {
    background-color: #A37AC2;
}
.dark-orange {
    background-color: #FFB346;
}
.light-orange {
    background-color: #FFF09C;
}
.dark-blue {
    background-color: #B2E2F0;
}
.light-blue {
    background-color: #CCF4FA;
}

/* Global Styles -------------------------------------------------------------------------------- */

html, body {
    height: 100%;
    margin: 0px;
    font-family: sans-serif;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: darkviolet;
}

button {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #A37AC2 5%, #7851A8 100%);
    /* background-color:#B304FF; */
    background-color: #A37AC2;
	border-radius:5px;
	border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #A37AC2;
}
button:hover {
	background:linear-gradient(to bottom, #7851A8 5%, #A37AC2 100%);
	background-color:#7851A8;
}
button:active {
	position:relative;
	top:1px;
}
button.use-caution {
    color: #FFF09C;
}

     

body {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='Artboard-5' fill='%23a779e9' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M6 18h12V6H6v12zM4 4h16v16H4V4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#body {
    padding: 1rem;
    background-color: #F6F6F6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-bottom: 1.5rem;
}

/* Navigation Menu ------------------------------------------------------------------------------ */

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

nav a {
    color: white !important;
}

nav #logo {
    font-weight: bold;
    font-size: larger;
    margin-right: 1rem;
}

.desktop-menu {
    display: none;
}
.desktop-menu div {
    margin-left: 2rem;
}

#drop-down {
    display: none;
    padding: 1rem;
    padding-top: 0rem;
    max-width: 800px;
    margin: 0 auto;
    flex-direction: column;
    text-align: right;
}
#drop-down a {
    color: white !important;
}
#drop-down div {
    margin-top: 0.5rem;
}
#drop-down.open {
    display: flex;
}

@media (min-width:801px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    #drop-down {
        display: none !important;
    }
    #menu-button {
        display: none !important;
    }
    .desktop-menu {
        display: flex;
    }
}

/* Landing Page --------------------------------------------------------------------------------- */

#splash {
    margin-top: 1rem;
}
#splash .desc {
    margin: 0.5rem;
}
#splash div:first-child {
    font-size: 24px;
}

#examples div:first-child {
    font-size: 22px;
}
#examples .example {
    margin: 0.5rem;
}

#features div:first-child {
    font-size: 22px;
}
#features .subtitle {
    margin: 0.5rem;
}

#statistics div:first-child {
    font-size: 22px;
}
#statistics .subtitle {
    margin: 0.5rem;
}
#statistics .subtitle span {
    color: darkviolet;
}

#pricing div:first-child {
    font-size: 22px;
}
#pricing .subtitle {
    margin: 0.5rem;
}

#calltoaction div:first-child {
    font-size: 22px;
}
#calltoaction button {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

/* Dashboard Styles ----------------------------------------------------------------------------- */

#account div:first-child {
    font-size: 22px;
    margin-bottom: 0.5rem;
}

.help-text {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

/* Footer Menu ---------------------------------------------------------------------------------- */

#footer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

#footer a {
    color: white !important;
}

#footer div {
    margin-right: 1.5rem;
    margin-top: 0.25rem;
    line-height:22px;
}

/* Checklist Styles ----------------------------------------------------------------------------- */

#list {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 4px solid #CCF4FA;
    background-color: white;
    border-radius: 4px;
}

#list .list-item {
    margin-bottom: 0.5rem;
}
#list .list-item:last-child {
    margin-bottom: 0rem;
}

#list .list-item label {
    position: relative;
    top: -3px;
}

.list-description {
    margin-bottom: 2rem;
    font-size: 14px;
}

.controls {
    margin-bottom: 0.5rem;
    border-radius: 3px;
    text-align: right;
}

#flash-msg {
    color: red;
}

.list-entry {
    margin-top: 1rem;
    margin-left: 1rem;
}